@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%; /* light gray */
    --foreground: 220 14.3% 11.2%; /* dark slate */
    --card: 0 0% 100%;
    --card-foreground: 220 14.3% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 14.3% 11.2%;
    --primary: 231 48% 48%; /* indigo-600 */
    --primary-foreground: 0 0% 98%;
    --secondary: 220 8.9% 94.9%;
    --secondary-foreground: 220 5.3% 26.1%;
    --muted: 220 8.9% 94.9%;
    --muted-foreground: 220 5.3% 46.1%;
    --accent: 220 8.9% 94.9%;
    --accent-foreground: 220 5.3% 26.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;

    --sidebar-background: 224 33% 14%; /* slate-900 */
    --sidebar-foreground: 220 13% 91%; /* gray-200 */
    --sidebar-border: 224 29% 20%; /* slate-800 */
    --sidebar-accent: 224 29% 20%; /* slate-800 for hover */
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%; /* indigo-600 */
    --sidebar-primary-foreground: 0 0% 100%;

  }

  .dark {
    --background: 220 14.3% 5.3%;
    --foreground: 0 0% 98%;
    --card: 224 7.1% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 7.1% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 13.8% 16.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 13.8% 16.5%;
    --muted-foreground: 215 13.8% 63.5%;
    --accent: 215 13.8% 16.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 13.8% 16.5%;
    --input: 215 13.8% 16.5%;
    --ring: 231 48% 48%;

    --sidebar-background: 224 33% 14%;
    --sidebar-foreground: 220 13% 91%;
    --sidebar-border: 224 29% 20%;
    --sidebar-accent: 224 29% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
